# Node.js
node_modules/
dist/
.env
.env.local
.env.development
.env.test
.env.production
.npm/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Editor / IDE
.vscode/
.idea/
*.iml

# Logs & Debug
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
debug.log
output.log

# OS-Specific
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
.cache/
out/
coverage/

# Prisma
prisma/migrations/
prisma/dev.db
prisma/dev.db-journal

# Docker
docker-compose.override.yml
.vercel
